      .jumbotron {
    padding-bottom: 0; // or whatever you want the value to be, such as 1rem.
    padding-left: 0;
    padding-right: 0;
}
.navbar-nav mr-auto{
  height: 50px;
}
.main{
  margin-bottom: 25px;
}
  