<div class="row">
   
    <div class="col-md-9">
        <!-- Sun rise and sun set is here.<i class="flaticon-airplane49"></i> -->
        <app-sun-info></app-sun-info>
    </div>
    <div class="col-md-3">
      <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
  </div>
</div>
<!-- <div style="width: 60%">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div> -->
<i class="flaticon-rain"></i>

<app-weatherui></app-weatherui>
<app-footer></app-footer>